.footer-container {
    background-color: #f8f8f8;
    /* Light gray background */
    color: #777;
    /* Dark gray text */
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid #ddd;
    /* Light gray top border */
}

.copyright {
    margin-bottom: 10px;
    font-weight: bold;
}

.disclaimer {
    line-height: 1.5;
}